# Evitar el entorno virtual
env_ia/

# Evitar archivos temporales y de compilación
build/
*.spec

Asegúrate de que .gitignore contiene lo siguiente:

markdown
Copiar código
# Ignorar archivos de modelos
Crearmodelo.ipynb
*.ipynb_checkpoints/
dist/
*.exe
CPN50_cement_composition_strength.csv


# Evitar caché de Python
__pycache__/
*.pyc
*.pyo

# Evitar archivos internos de librerías
catboost_info/

dist/
app.exe
dist/
*.exe
.qodo
